/* CSS Document */
.region-wrap-container {
  border: gray dotted 1px;
  padding: 0.4em;
  background:#FAFAFA;
  position: relative;
}
.region-name {
  porsition:absolute;
  left: 5px;
  top: -0.5em;
  font-size: 12px;
}
.portlet {
  padding: 0.3em;
  margin: 0.2em 0;
}
.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}
.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
.portlet-content {
  padding: 0.4em;
}
.portlet-placeholder {
  border: 1px dotted black;
  padding: 0.4em;
  height: 50px;
  background: white;
  margin: 0.2em 0;
}
#block-draggableblocks { 
  position: fixed;
  top: 40px;
  left: -247px;
  width: 250px;
  background: white;
  border: solid 2px black;
  z-index: 99;
  font-size: 12px;
}
#block-draggableblocks:hover {
  left: 0px;
}
.draggable-blocks-container { 
  height: 500px;
  overflow: scroll;
}
.draggable-blocks-tab {
  position: absolute;
  top: 40%;
  left: 203px;
  border: 1px solid black;
  height: 30px;
  width: 120px;
  background: white;
  padding: 5px;
  background-color: #C0C0C0;
  text-align: center;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
