{#
/**
 * @file
 * Default theme implementation to display a book tree.
 *
 * Returns HTML for a wrapper for a book sub-tree.
 *
 * Available variables:
 * - items: A nested list of book items. Each book item contains:
 *   - attributes: HTML attributes for the book item.
 *   - below: The book item child items.
 *   - title: The book link title.
 *   - url: The book link URL, instance of \Drupal\Core\Url.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     book tree.
 *   - is_collapsed: TRUE if the link has children within the current book tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% for item in items %}
  <div class="portlet">
    <div class="portlet-header">{{ item.label }}<span class="ui-icon ui-icon-plusthick portlet-toggle"></span></div>
    <div class="portlet-container" aria-block="{{ item.id }}">Module: {{ item.provider }}</div>
  </div>
{% endfor %}
